<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Selamat Datang di Smart Spring</h1>
	<table>
		<tr>
			<td colspan="4">Username <a th:text="${akunLempar}"></a>
				Password <a th:text="${passwordLempar}"></a>
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a th:href="@{/menu1}">Menu 1</a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>