<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>lihat data</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>No</td>
			<td>Nama</td>
			<td>Gender</td>
			<td>Kategory</td>
			<td>Biaya</td>
			<td>Tanggal Lahir</td>
		</tr>
		<!-- ini dilooping sebanyak data yang kita punyai -->
		<tr th:each="pasienModel:${pasienModelList}">
			<td><a th:text="${pasienModel.noPasien}"></a></td>
			<td><a th:text="${pasienModel.namaPasien}"></a></td>
			<td><a th:text="${pasienModel.gender}"></a></td>
			<td><a th:text="${pasienModel.kategory}"></a></td>
			<td><a th:text="${pasienModel.biaya}"></a></td>
			<td><a th:text="${pasienModel.tanggalLahhir}"></a></td>

			<td><button id="btn-lihat" type="button">Lihat</button></td>
			<td><button id="btn-ubah" type="button">Ubah</button></td>
			<td><button id="btn-hapus" type="button">Hapus</button></td>
		</tr>
	</table>
</body>
</html>